/*
* @Author: asus
* @Date:   2019-06-12 14:44:57
* @Last Modified by:   asus
* @Last Modified time: 2019-06-15 22:28:45
*/
*{
    padding:0;
    margin:0;
}	
a{
	text-decoration:none;
}
li{
	list-style:none;
}	
.head-container{
	height:38px;
	width:1200px;
	margin:0 auto;
	line-height:38px;
}
.center{
	line-height:38px;
	float:left;
	margin-left:490px;
	color:#5d5a5c;
}
.head-container li{
	float:left;
	line-height:38px;
}
.head1{
	margin-left:690px;
}
.head1 li{
	width:90px;
}
.head1 a{
	color:#000000;
}
.head2 li{
	width:92px;
	color:#5d5a5c;
}
.head2 img{
	margin-left:10px;
}
.logo{
	width:1200px;
	margin:0 auto;
	height:110px;
	line-height:110px;
}
.ma {
	width:240px;
	height:64px;
	margin-top:28px;
	float:left;
}
.sousuo{
	width:600px;
	height:46px;
	border:1px solid #000;
	float:left;
	margin-top:45px;
	margin-left:150px;
}
.sousuo input{
	width:550px;
	height:44px;
	line-height:46px;
	text-align:center;
	color:#e4e4e4;
	border:none;
	float:left;
}
.sousuo img{
	float:left;
	margin-top:6px;
}
.gouwuche{
	width:47px;
	height:47px;
	margin-top:30px;
	float:right;
}
.daohang{
	height:45px;
	width:1200px;
	margin:0 auto;
}
.nav{
	width:1200px;
	height:43px;
	margin:0 auto;
}
.tou{
	width:120px;
	height:30px;
	float:left;
	margin-top:10px;
}
.tou a{
	color:#000;
	font-weight:900;
}
.nav li{
	width:120px;
	height:43px;
	line-height:43px;
	text-align:center;
	float:left;
}
.nav li a{
	color:#000;
}
.nav li:hover{
	border-bottom:2px solid #3aa747;	
}
.nav li a:hover{	
	color:#3aa747;
}
.datu{
	height:670px;
	border-top:4px solid #3aa747;
	background:url('imgs/banner.png') no-repeat center;	
	border-bottom:1px solid #7f7f7f;
}
.mid{
	height:61px;
	width:1200px;
	margin:0 auto;
}
.mid div{
	float:left;
	width:200px;
	font-size:18px;
	line-height:61px;
	margin-left:30px;
}
.mid span{
	font-size:13px;
	color:#dbdbdb;
	margin-left:10px;
}
.mid p{
	color:#dbdbdb;
	float:right;
	font-size:13px;
	margin-top:37px;
}
.zhongdao{
	width:1200px;
	height:145px;	
	margin:0 auto;
}
.zhongdao li a{
	color:#7f7f7f;
}
.zhongdao li{
	height:44px;
	text-align:center;
	line-height:44px;
}
.yushi,.qita,.diqu{
	width:1200px;
	height:44px;		
	border:1px solid #cccccc;
	float:left;
}
.yushi li a:hover,.diqu li a:hover,.qita li a:hover{
	color:#3aa747;
}
.yushi li,.diqu li,.qita li{
	width:120px;	
	float:left;
}
.yushi li:first-child,.diqu li:first-child,.qita li:first-child{
	width:100px;
	background:#e5e5e5;
}
.diqu li:last-child{
	text-indent:75px;
}
.tupian{
	width:1200px;
	margin:0 auto;
	height:821px;
	margin-top:27px;
}
.tupian li{
	width:272px;
	height:292px;
	border:1px solid #888888;
	float:left;
	position: relative;
	margin-top:35px;
	margin-right:25px;
}
.tupian li img{
	width:100%;height:100%;
}
.diaozui-1{
	width:100%;
	height:50px;
	line-height:48px;
	position:absolute;
    bottom:0;
	color:#fff;
	background-color:rgba(0,0,0,0.7);
	text-align:center;
}
.tupian li:hover .diaozui-1{
	display:none;
}
.diaozui{
	width:100%;
	height:100%;
	line-height:292px;
	text-align:center;
	color:#fff;
	font-size:20px;
	display:none;
	background-color:rgba(0,0,0,0.7);
}
.diaozui p{
	height:35px;
}
.diaozui-1 p{
	margin-top:-6px;
	height:28px;
}
.tupian li:hover div{
	display:block;
}
.bottom-container{
	background:#f5f5f5;
	height:100px;
    line-height:100px;
}
.bottom{
	width:1200px;
	overflow:hidden;
	height:100px;
	margin:0 auto;
	line-height:100px;
}
.bottom ul{
	margin-top:20px;
	height:60px;
}
.bottom li{
	width:299px;
	height:60px;
	line-height:60px;
	float:left;
	border-left:1px solid #e0e0e0;
}
.bottom li:first-child{
	border:none;
}
.bottom img{
	margin-left:35px;
	margin-top:10px;
	float:left;
}
.da{	
	height:40px;
	line-height:40px;
	font-size:20px;
	float:left;
	margin-left:25px;
}
.xiao{
	height:20px;
	line-height:20px;
	float:left;
	margin-left:25px;
}
.final{
	height:100px;
	text-align:center;
	background:#323232;
}
.final p{
	color:#ffffff;
}
.guding{
    width:80px;
    height:583px;
    line-height:583px;
    position:fixed;
    right:0;
    top:193px;
    background:#0d120e;
}
.guding li{
	width:68px;
    height:115px;
    text-align: center;
    line-height:115px;
    background:#0d120e;
    border-top:2px solid #595e5d;
    margin-left:5px;
}
.guding li:first-child{
	border:none;
}
